<html>
  {{template "header.tmpl.html"}}
<body>

<div class="jumbotron text-center">
  <div class="container">
      <h1>Sound Machine</h1>
      <p>Play sounds for all connected clients*!</p>
      <p class="small">* Using a supported browser.</p>
      <button id="launch" class="btn btn-primary btn-lg">Launch</button>
      <hr>
        <small class="text-muted">Copyright &copy; 2018 Andrew Merenbach. Portions copyright by their respective copyright holders. All sound clips owned by their respective copyright holders. Many thanks to 37Signals for the Campfire <code>/play</code> slash command. Please see <a href="https://github.com/merenbach/sound-machine">source code</a> for details.</small>
  </div>
</div>
<div class="container">
  <div id="sounds">
    {{range $k, $v := .Sounds}}
    <button class="btn btn-light mb-2 play" data-sound="{{$k}}" disabled>{{$k}}</button>
    <audio preload="metadata" data-name="{{$k}}">Your browser does not support the <code>audio</code> element.</audio>
    {{end}}
  </div>
  <h2>Playlist</h2>
  <ul id="playlist"></ul>
</div>
</body>
</html>
